#color{
    border: 5px solid white;
    margin-left: 25%;
    width: 50%;
    margin-top: 100px;

    
}

html{
    background-color: black;
}

img{
    width: 100%;
    margin-bottom: -3px

}

.text1{
    font-family: "Libre Baskerville", serif;
    color: white ;
    text-align: center;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
    text-transform: uppercase;

}

.text2{
    color: white;
    text-align: center;
}